* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #c20000;
}
#container {
    width: 100vw;
    height: 100vh;
    border: #c20000 solid 8rem;
}
#leftKnob, #rightKnob {
    width: 100px;
    height: 100px;
    background-color: #dcdcdcd3;
    position: absolute;
    border-radius: 50%;
    border: 2px dotted #0000008f;
}
#leftKnob {
    left: 20px;
    bottom: 20px;
    box-shadow: 10px 0 10px #0000008f;
}
#rightKnob {
    right: 20px;
    bottom: 20px;
    box-shadow: -10px 0 10px #0000008f;
}
#title {
    color: gold;
    font-size: 2rem;
    letter-spacing: 2px;
    display: flex;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 10px #000000d8;
}
span {
    font-family: 'Lobster';
    letter-spacing: 4px;
    margin: 0 2rem;
    font-size: 3rem;
}
#game {
    background-color: rgb(167, 167, 167);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px #000000d8;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    overflow: hidden;
}
#game:hover {
    cursor: crosshair;
}
.row {
    flex: 1;
    display: flex;
}
.cell {
    border: 1px solid #0000000c;
    flex: 1;
}
.cell:hover {
    background-color: #c20000;
}