* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #c20000;
}
#container {
    width: 100vw;
    height: 100vh;
    background-color: #c20000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leftKnob, #rightKnob {
    width: 100px;
    height: 100px;
    background-color: #dcdcdcd3;
    position: absolute;
    border-radius: 50%;
    border: 2px dotted #0000008f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    text-shadow: 1px 1px 5px #000000;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.5rem;
}
#leftKnob {
    left: 30px;
    bottom: 30px;
    box-shadow: 10px 0 10px #0000008f;
}
#rightKnob {
    right: 30px;
    bottom: 30px;
    box-shadow: -10px 0 10px #0000008f;
}
#leftKnob:hover {
    cursor: pointer;
    opacity: .8;
    transform: rotate(360deg) scale(1.1);
    transition: .4s;
}
#rightKnob:hover {
    cursor: pointer;
    opacity: .8;
    transform: rotate(-360deg) scale(1.1);
    transition: .4s;
}
#title {
    color: gold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: flex;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 10px #000000d8;
}
span {
    font-family: 'Lobster';
    letter-spacing: 4px;
    margin: 0 2rem;
    font-size: 3rem;
}
#game {
    background-color: #a7a7a7;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 20px #000000d8;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    border: 5px inset gold;

}
#game:hover {
    cursor: crosshair;
}
.row {
    flex: 1;
    display: flex;
}
.cell {
    border: 1px solid #0000000c;
    flex: 1;
}
.menu {
    background-color: #c20000;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    box-shadow: 0 0 20px #000000d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: .5rem;
    border: 5px inset gold;
}
.exitBtn {
    width: 30px;
    height: 30px;
    align-self: flex-end;
    margin: 20px;
    border-radius: 50%;
    border: none;
    background-image: url(images/close.png);
    background-position: center;
    background-repeat: no-repeat;
}
.exitBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: .8;
}
.gridSelect {
    font-weight: 900;
    margin-top: 3rem;
}
.gridOption {
    width: 40%;
    border-radius: 2rem;
    height: 50px;
    padding: .5rem;
    border: none;
    box-shadow: 0 0 20px #000000d8;
    font-weight: 900;

}
.colorPicker, .gridSelect {
    width: 50%;
    border-radius: 2rem;
    height: 50px;
    padding: .5rem;
    border: none;
    box-shadow: 0 0 20px #000000d8;
}
.colorPicker:hover, .gridSelect:hover, .gridOption:hover {
    cursor: pointer;
    opacity: .8;
}
#media {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.mediaIcon {
    max-width: 45px;
    max-height: 45px;
    border-radius: 100%;
    transition: .5s;
    margin: 0 .5rem;
    background-color: rgba(255, 255, 255, 0.386);
}
.mediaIcon:hover {
    transform: rotate(360deg) scale(1.2) translate(4px, 4px);
    box-shadow: 0 0 20px #ff84a5d9;
    cursor: pointer;
}
#signature {
    font-size: 1rem;
    color: #0000004d;
}
@media (max-width: 1200px) {
    #title {
        font-size: 1rem;
        top: 30px;
    }
    span {
        font-size: 1.5rem;
    }
    #leftKnob {
        left: 10px;
    }
    #rightKnob {
        right: 10px;
    }
}
@media (max-width: 1000px) {
    #leftKnob {
        left: 0;
    }
    #rightKnob {
        right: 0;
    }

}
@media (max-width: 800px) {
    #leftKnob, #rightKnob {
        bottom: 20px;
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }
    #leftKnob {
        left: 20px;
    }
    #rightKnob {
        right: 20px;
    }
    span {
        font-size: 1rem;
        top: 10px;
        margin: 0 .5rem;
    }
    #game {
        height: 60%;
    }
}
@media (max-width: 400px) {
    .mediaIcon {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }
    #leftKnob, #rightKnob {
        bottom: 5px;
        margin-top: 10px;
    }
    .menu {
        width: 300px;
    }
}